body {
	background-image: url(study.jpg);
	background-size: cover;
}

p {
	color:brown;
	text-align: center;
	font-size: 50px;
	cursor:pointer;
}

p:hover {
	color:red;
	border:5px;
	border-color:red;
	transform:scale(1.1);
	transition:all 0.5s;
}
h1 {
	text-align:center;
}
